body {
    background: linear-gradient(-45deg, #23a6d5, #23d5ab, #ee7752, #e73c7e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: monospace;
    color: #ffffff;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Home Page Styles */

.home {
    width: 90%;
    margin: 0 auto;
}

.heading-div {
    text-align: center;
    border: 3px solid;
    border-top-right-radius: 20px 80px;
    border-top-left-radius: 20px 80px;
    border-bottom-left-radius: 100px 10px;
    border-bottom-right-radius: 100px 10px;
    font-size: 25px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.name-field-div {
    width: 300px;
    height: 40px;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#name-field {
    width: 90%;
    height: 25px;
    font-size: 18px;
    border-radius: 6px;
    padding-left: 4px;
    border: 2px solid;
    font-family: monospace;
    transition: all 0.5s ease;
}

#name-field:focus {
    outline: none;
    border: 5px solid;
}

.quiz-info-div {
    width: 280px;
    height: 200px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-top-right-radius: 20px 80px;
    border-top-left-radius: 20px 80px;
    border-bottom-left-radius: 100px 10px;
    border-bottom-right-radius: 100px 10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-size: 20px;
    font-weight: bolder;
}

.start-button-div {
    width: 100px;
    height: 100px;
    margin: 15px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#start-button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: monospace;
    box-shadow: 2px -2px 2px 2px;
    transition: all 1s ease;
}

#start-button:hover {
    box-shadow: -2px 2px 2px 2px;
}

#start-button:focus {
    outline: none;
}

/* Quiz Page Styles */

#question {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    position: relative;
}

.timer-container-div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    font-size: 15px;
}

.countdown-clock-div {
    width: 45px;
    display: flex;
    justify-content: space-around;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: #368ada;
}

.remaining-time-para {
    margin: 0;
}

#question-heading-div {
    padding: 10px;
}

#question-heading {
    margin: 0;
}

.question-div {
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    border-bottom: 3px solid;
}

.choices-div {
    margin-top: 10px;
}

.choice-div {
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    border: 2px solid;
    margin-bottom: 10px;
    transition: background-color 0.1s ease;
}

.choice-div:hover {
    color: #000000;
    background-color: #ffffff;
}

.next-button-div {
    width: 100%;
    margin-bottom: 10px;
}

#next-button {
    width: 50px;
    height: 40px;
    float: right;
    background-color: #ffffff;
    border-radius: 6px;
    font-weight: bolder;
    font-family: monospace;
}

#next-button:focus {
    outline: none;
}

/* Result Page Styles */

.result {
    width: 90%;
    margin: 0 auto;
}

.result-div {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
}

.result-div p {
    border-bottom: 2px solid;
}

.buttons-div {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid;
    border-top-right-radius: 20px 80px;
    border-top-left-radius: 20px 80px;
    border-bottom-left-radius: 100px 10px;
    border-bottom-right-radius: 100px 10px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.buttons-div button {
    width: 60px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 6px;
    font-weight: bolder;
    font-family: monospace;
}

#try-again-btn {
    flex-grow: 0;
}

#back-to-home-btn {
    width: 80px;
    flex-grow: 0;
}

.result a {
    color: #000000;
    text-decoration-line: none;
}

/* Media Queries */

@media (min-width: 600px) {
    .heading-div {
        width: 60%;
        margin: 0 auto;
    }
}
